# Trabajo final Digital Transformation - Python

Python es un lenguaje de programación. En los _notebooks_ previos, casi todo el trabajo que hemos realizado es prácticamente interactivo, aunque en un par de ocasiones nos hemos visto obligados a utilizar funciones o bucles.

En este _notebook_ aprenderemos los rudimentos de la programación en Python, comenzando con tipos de datos y terminando con la definición de funciones simples.

In [34]:
import pandas as pd
import numpy as np

In [6]:
multa1 = pd.read_csv('multas/201806_detalle.csv', sep=';', encoding='windows-1250', index_col=False, header=0)
print(len(multa1))
multa1.head(1)

209842

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,LEVE,CL MAUDES 17,6,2018,9.5,90.0,SI,0,SER,"ESTACIONAR, SIN LA CORRESPONDIENTE AUTORIZACIÓ...",,,,

#Analisis mes a mes

In [7]:
set18 = pd.read_csv('multas/201809_detalle.csv', sep=';', encoding='windows-1250', index_col=False, header=0)
print(len(set18))
set18.head(1)

199997

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,LEVE,CL PEDRO RICO F33,9,2018,17.2,90.0,SI,0,SER,"ESTACIONAR, SIN LA CORRESPONDIENTE AUTORIZACIÓ...",,,,

In [8]:
oct18 = pd.read_csv('multas/201810_detalle.csv', sep=';', encoding='windows-1250', index_col=False, header=0)
print(len(oct18))
oct18.head(1)

214073

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,GRAVE,BENIMAMET 85,10,2018,10.2,200.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR SOBRE LA ACERA OBSTACULIZANDO GRAVE...,,,,

In [9]:
nov18 = pd.read_csv('multas/201811_detalle.csv', sep=';', encoding='windows-1250', index_col=False, header=0)
print(len(nov18))
nov18.head(1)

192336

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,LEVE,CL NUMANCIA 32,11,2018,13.32,60.0,SI,0,SER,ESTACIONAR CON AUTORIZACIÓN NO VÁLIDA. ...,,,,

In [10]:
dic18 = pd.read_csv('multas/201812_detalle.csv', sep=';', encoding='windows-1250', index_col=False, header=0)
print(len(dic18))
dic18.head(1)

171593

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,GRAVE,"M 30 KM 4,100 CALZADA 2",12,2018,8.49,100.0,SI,0,POLICIA MUNICIPAL,SOBREPASAR LA VELOCIDAD MÁXIMA EN VÍAS LIMITAD...,70,83,,

In [11]:
ene19 = pd.read_csv('multas/201901_detalle.csv', sep=';', encoding='windows-1250', index_col=False, header=0)
print(len(ene19))
ene19.head(1)

170883

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,LEVE,SAN RESTITUTO 24,1,2019,16.12,90.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR EN LUGAR PROHIBIDO. ...,,,,

In [12]:
feb19 = pd.read_csv('multas/201902_detalle.csv', sep=';', encoding='windows-1250', index_col=False, header=0)
print(len(feb19))
feb19.head(1)

161384

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,GRAVE,FTE CARRANTONA ESQ HAC.PAVONES,2,2019,9.04,200.0,SI,4,AGENTES DE MOVILIDAD,REBASAR UN SEMÁFORO EN FASE ROJA. ...,,,,

In [13]:
mar19 = pd.read_csv('multas/201903_detalle.csv', sep=';', encoding='windows-1250', index_col=False, header=0)
print(len(mar19))
mar19.head(1)

163776

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,LEVE,AEROPUERTO SALIDA T 1,3,2019,12.3,90.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR EN LUGAR PROHIBIDO. ...,,,,

In [14]:
abr19 = pd.read_csv('multas/201904_detalle.csv', sep=';', encoding='windows-1250', index_col=False, header=0)
print(len(abr19))
abr19.head(1)

158391

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,LEVE,CL P. JUSTO DORADO DELLMANS 4,4,2019,14.55,90.0,SI,0,SER,"ESTACIONAR, SIN LA CORRESPONDIENTE AUTORIZACIÓ...",,,,

In [15]:
may19 = pd.read_csv('multas/201905_detalle.csv', sep=';', encoding='windows-1250', index_col=False, header=0)
print(len(may19))
may19.head(1)

172888

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,GRAVE,ARROYO VALDECELADA,5,2019,19.1,200.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR EN CARRIL DECIRCULACIÓN OBSTACULIZA...,,,,

In [16]:
jun19 = pd.read_csv('multas/201906_detalle.csv', sep=';', encoding='windows-1250', index_col=False, header=0)
print(len(jun19))
jun19.head(1)

248483

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,GRAVE,"M 30 KM 10,300 XC CARRIL 3",6,2019,11.29,500,SI,6,POLICIA MUNICIPAL,SOBREPASAR LA VELOCIDAD MÁXIMA EN VÍAS LIMITAD...,70,138,,

In [17]:
jul19 = pd.read_csv('multas/201907_detalle.csv', sep=';', encoding='windows-1250', index_col=False, header=0)
print(len(jul19))
jul19.head(1)

253269

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,LEVE,CALLE TOLEDO 123,7,2019,0.46,90.0,SI,0,AGENTES DE MOVILIDAD,ACCEDER A MADRID CENTRAL SIN AUTORIZACIÓN. ...,,,,

In [18]:
ago19 = pd.read_csv('multas/201908_detalle.csv', sep=';', encoding='windows-1250', index_col=False, header=0)
print(len(ago19))
ago19.head(1)

211704

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,LEVE,CL CORAZON DE MARIA 65,8,2019,9.37,90.0,SI,0,SER,"ESTACIONAR, SIN LA CORRESPONDIENTE AUTORIZACIÓ...",,,,

In [19]:
# Otra manera de lectura con otro encoding
multa1 = pd.read_csv('multas/201806_detalle.csv', sep=';', encoding='iso-8859-1', header=0)
multa1.head(1)

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,LEVE,CL MAUDES 17,6,2018,9.5,90.0,SI,0,SER,"ESTACIONAR, SIN LA CORRESPONDIENTE AUTORIZACIÓ...",,,,

In [20]:
type(set18)

pandas.core.frame.DataFrame

In [21]:
print(jun19.columns)
jul19.columns

Index(['CALIFICACION', 'LUGAR', 'MES', 'ANIO', 'HORA', 'IMP_BOL', 'DESCUENTO',
       'PUNTOS', 'DENUNCIANTE', 'HECHO-BOL', 'VEL_LIMITE', 'VEL_CIRCULA',
       'COORDENADA_X', 'COORDENADA_Y'],
      dtype='object')

Index(['CALIFICACION', 'LUGAR', 'MES', 'ANIO', 'HORA', 'IMP_BOL', 'DESCUENTO',
       'PUNTOS', 'DENUNCIANTE', 'HECHO-BOL', 'VEL_LIMITE', 'VEL_CIRCULA',
       'COORDENADA_X', 'COORDENADA_Y'],
      dtype='object')

In [ ]:
#Para borrar espacis en las columnas
.rename(columns=lambda x: x.strip())

In [22]:
TotalMultas = pd.concat ([set18, oct18, nov18, dic18, ene19, feb19, mar19, abr19, may19, jun19, jul19, ago19])
TotalMultas

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,LEVE,CL PEDRO RICO F33,9,2018,17.20,90.0,SI,0,SER,"ESTACIONAR, SIN LA CORRESPONDIENTE AUTORIZACIÓ...",,,,
1,LEVE,CL PEDRO RICO F29,9,2018,17.47,90.0,SI,0,SER,"ESTACIONAR, SIN LA CORRESPONDIENTE AUTORIZACIÓ...",,,,
2,LEVE,AV MONFORTE DE LEMOS 4,9,2018,19.08,90.0,SI,0,SER,"ESTACIONAR, SIN LA CORRESPONDIENTE AUTORIZACIÓ...",,,,
3,LEVE,AV MONFORTE DE LEMOS 2,9,2018,19.16,60.0,SI,0,SER,ESTACIONAR CON AUTORIZACIÓN NO VÁLIDA. ...,,,,
4,LEVE,CL SOR ANGELA DE LA CRUZ 7,9,2018,10.12,90.0,SI,0,SER,"ESTACIONAR, SIN LA CORRESPONDIENTE AUTORIZACIÓ...",,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211699,LEVE,OBISPO TREJO,8,2019,13.52,90.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR SOBRE LA ACERA. ...,,,,
211700,GRAVE,GRAN VIA 41,8,2019,20.47,200.0,SI,3,POLICIA MUNICIPAL,CONDUCIR UTILIZANDO MANUALMENTE TELEFONÍA MÓVI...,,,,
211701,GRAVE,PZ CIBELES,8,2019,17.50,200.0,SI,4,POLICIA MUNICIPAL,REBASAR UN SEMÁFORO EN FASE ROJA. ...,,,,
211702,GRAVE,AEROPUERTO SALIDA T 1,8,2019,0.41,200.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR EN CARRIL DECIRCULACIÓN OBSTACULIZA...,,,,
211703,GRAVE,JUAN BRAVO 19,8,2019,10.36,200.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR EN CARRIL DECIRCULACIÓN OBSTACULIZA...,,,,

In [23]:
# Get column names
column_names = TotalMultas.columns
print(column_names)

Index(['CALIFICACION', 'LUGAR', 'MES', 'ANIO', 'HORA', 'IMP_BOL', 'DESCUENTO',
       'PUNTOS', 'DENUNCIANTE', 'HECHO-BOL', 'VEL_LIMITE', 'VEL_CIRCULA',
       'COORDENADA_X', 'COORDENADA_Y'],
      dtype='object')

In [24]:
# Get column data types
TotalMultas.dtypes

CALIFICACION     object
LUGAR            object
MES               int64
ANIO              int64
HORA            float64
IMP_BOL         float64
DESCUENTO        object
PUNTOS            int64
DENUNCIANTE      object
HECHO-BOL        object
VEL_LIMITE       object
VEL_CIRCULA      object
COORDENADA_X     object
COORDENADA_Y     object
dtype: object

In [25]:
# Also check if the column is unique
for i in column_names:
  print('{} is unique: {}'.format(i, TotalMultas[i].is_unique))

CALIFICACION is unique: False
LUGAR is unique: False
MES is unique: False
ANIO is unique: False
HORA is unique: False
IMP_BOL is unique: False
DESCUENTO is unique: False
PUNTOS is unique: False
DENUNCIANTE is unique: False
HECHO-BOL is unique: False
VEL_LIMITE is unique: False
VEL_CIRCULA is unique: False
COORDENADA_X is unique: False
COORDENADA_Y is unique: False

In [27]:
# Check the index values
TotalMultas.index.values

array([     0,      1,      2, ..., 211701, 211702, 211703], dtype=int64)

In [28]:
# Check if a certain index exists
'foo' in TotalMultas.index.values

C:\Users\Pavel\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

False

In [39]:
print(column_names)

Index(['CALIFICACION', 'LUGAR', 'MES', 'ANIO', 'HORA', 'IMP_BOL', 'DESCUENTO',
       'PUNTOS', 'DENUNCIANTE', 'HECHO-BOL', 'VEL_LIMITE', 'VEL_CIRCULA',
       'COORDENADA_X', 'COORDENADA_Y'],
      dtype='object')

In [48]:
print (TotalMultas['CALIFICACION'].isnull())
print (TotalMultas['LUGAR'].isnull())
print (TotalMultas['MES'].isnull())
print (TotalMultas['ANIO'].isnull())
print (TotalMultas['HORA'].isnull())
print (TotalMultas['IMP_BOL'].isnull())
print (TotalMultas['DESCUENTO'].isnull())

0         False
1         False
2         False
3         False
4         False
          ...
211699    False
211700    False
211701    False
211702    False
211703    False
Name: CALIFICACION, Length: 2318777, dtype: bool
0         False
1         False
2         False
3         False
4         False
          ...
211699    False
211700    False
211701    False
211702    False
211703    False
Name: LUGAR, Length: 2318777, dtype: bool
0         False
1         False
2         False
3         False
4         False
          ...
211699    False
211700    False
211701    False
211702    False
211703    False
Name: MES, Length: 2318777, dtype: bool
0         False
1         False
2         False
3         False
4         False
          ...
211699    False
211700    False
211701    False
211702    False
211703    False
Name: ANIO, Length: 2318777, dtype: bool
0         False
1         False
2         False
3         False
4         False
          ...
211699    False
211700    False
211701    False
211702    False
211703    False
Name: HORA, Length: 2318777, dtype: bool
0         False
1         False
2         False
3         False
4         False
          ...
211699    False
211700    False
211701    False
211702    False
211703    False
Name: IMP_BOL, Length: 2318777, dtype: bool
0         False
1         False
2         False
3         False
4         False
          ...
211699    False
211700    False
211701    False
211702    False
211703    False
Name: DESCUENTO, Length: 2318777, dtype: bool

In [49]:
print (TotalMultas['PUNTOS'].isnull())
print (TotalMultas['DENUNCIANTE'].isnull())
print (TotalMultas['HECHO-BOL'].isnull())
print (TotalMultas['VEL_LIMITE'].isnull())
print (TotalMultas['VEL_CIRCULA'].isnull())

0         False
1         False
2         False
3         False
4         False
          ...
211699    False
211700    False
211701    False
211702    False
211703    False
Name: PUNTOS, Length: 2318777, dtype: bool
0         False
1         False
2         False
3         False
4         False
          ...
211699    False
211700    False
211701    False
211702    False
211703    False
Name: DENUNCIANTE, Length: 2318777, dtype: bool
0         False
1         False
2         False
3         False
4         False
          ...
211699    False
211700    False
211701    False
211702    False
211703    False
Name: HECHO-BOL, Length: 2318777, dtype: bool
0         False
1         False
2         False
3         False
4         False
          ...
211699    False
211700    False
211701    False
211702    False
211703    False
Name: VEL_LIMITE, Length: 2318777, dtype: bool
0         False
1         False
2         False
3         False
4         False
          ...
211699    False
211700    False
211701    False
211702    False
211703    False
Name: VEL_CIRCULA, Length: 2318777, dtype: bool
0         False
1         False
2         False
3         False
4         False
          ...
211699    False
211700    False
211701    False
211702    False
211703    False
Name: COORDENADA_X, Length: 2318777, dtype: bool
0         False
1         False
2         False
3         False
4         False
          ...
211699    False
211700    False
211701    False
211702    False
211703    False
Name: COORDENADA_Y, Length: 2318777, dtype: bool

In [52]:
print (TotalMultas['COORDENADA_X'].isnull())
print (TotalMultas['COORDENADA_X'])
print (TotalMultas['COORDENADA_Y'].isnull())
print (TotalMultas['COORDENADA_Y'])

0         False
1         False
2         False
3         False
4         False
          ...
211699    False
211700    False
211701    False
211702    False
211703    False
Name: COORDENADA_X, Length: 2318777, dtype: bool
0
1
2
3
4
             ...
211699
211700
211701
211702
211703
Name: COORDENADA_X, Length: 2318777, dtype: object
0         False
1         False
2         False
3         False
4         False
          ...
211699    False
211700    False
211701    False
211702    False
211703    False
Name: COORDENADA_Y, Length: 2318777, dtype: bool
0
1
2
3
4
             ...
211699
211700
211701
211702
211703
Name: COORDENADA_Y, Length: 2318777, dtype: object

In [65]:
# Any missing values?
print (TotalMultas.isnull().values.any())
print (TotalMultas.isnull().sum())
# Total number of missing values
print (TotalMultas.isnull().sum().sum())

False
CALIFICACION    0
LUGAR           0
MES             0
ANIO            0
HORA            0
IMP_BOL         0
DESCUENTO       0
PUNTOS          0
DENUNCIANTE     0
HECHO-BOL       0
VEL_LIMITE      0
VEL_CIRCULA     0
COORDENADA_X    0
COORDENADA_Y    0
dtype: int64
0

In [68]:
# Escribe el __DataFrame__ a CSV
TotalMultas.to_csv('multasS18A19.csv', index=False)

In [76]:
#Para asegurarse de que todo se vea bien.
df = pd.read_csv('multasS18A19.csv', keep_default_na=False, na_values=[""])
df

,CALIFICACION,LUGAR,MES,ANIO,HORA,IMP_BOL,DESCUENTO,PUNTOS,DENUNCIANTE,HECHO-BOL,VEL_LIMITE,VEL_CIRCULA,COORDENADA_X,COORDENADA_Y
0,LEVE,CL PEDRO RICO F33,9,2018,17.20,90.0,SI,0,SER,"ESTACIONAR, SIN LA CORRESPONDIENTE AUTORIZACIÓ...",,,,
1,LEVE,CL PEDRO RICO F29,9,2018,17.47,90.0,SI,0,SER,"ESTACIONAR, SIN LA CORRESPONDIENTE AUTORIZACIÓ...",,,,
2,LEVE,AV MONFORTE DE LEMOS 4,9,2018,19.08,90.0,SI,0,SER,"ESTACIONAR, SIN LA CORRESPONDIENTE AUTORIZACIÓ...",,,,
3,LEVE,AV MONFORTE DE LEMOS 2,9,2018,19.16,60.0,SI,0,SER,ESTACIONAR CON AUTORIZACIÓN NO VÁLIDA. ...,,,,
4,LEVE,CL SOR ANGELA DE LA CRUZ 7,9,2018,10.12,90.0,SI,0,SER,"ESTACIONAR, SIN LA CORRESPONDIENTE AUTORIZACIÓ...",,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2318772,LEVE,OBISPO TREJO,8,2019,13.52,90.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR SOBRE LA ACERA. ...,,,,
2318773,GRAVE,GRAN VIA 41,8,2019,20.47,200.0,SI,3,POLICIA MUNICIPAL,CONDUCIR UTILIZANDO MANUALMENTE TELEFONÍA MÓVI...,,,,
2318774,GRAVE,PZ CIBELES,8,2019,17.50,200.0,SI,4,POLICIA MUNICIPAL,REBASAR UN SEMÁFORO EN FASE ROJA. ...,,,,
2318775,GRAVE,AEROPUERTO SALIDA T 1,8,2019,0.41,200.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR EN CARRIL DECIRCULACIÓN OBSTACULIZA...,,,,
2318776,GRAVE,JUAN BRAVO 19,8,2019,10.36,200.0,SI,0,POLICIA MUNICIPAL,ESTACIONAR EN CARRIL DECIRCULACIÓN OBSTACULIZA...,,,,

In [82]:
df_trimmed = df.apply(lambda x: x.float.strip() if x.dtype == "object" else x)

# df=df.replace(r'\s+', np.nan, regex=True) Borra todo lo que tenga espacios en blanco

df_trimmed

AttributeError: ("'Series' object has no attribute 'float'", 'occurred at index CALIFICACION')

In [83]:
# Any missing values?
print (df_trimmed.isnull().values.any())
print (df_trimmed.isnull().sum())
# Total number of missing values
print (df_trimmed.isnull().sum().sum())

False
CALIFICACION    0
LUGAR           0
MES             0
ANIO            0
HORA            0
IMP_BOL         0
DESCUENTO       0
PUNTOS          0
DENUNCIANTE     0
HECHO-BOL       0
VEL_LIMITE      0
VEL_CIRCULA     0
COORDENADA_X    0
COORDENADA_Y    0
dtype: int64
0